.AddItem {
  padding-bottom: 20px;
}

.AddItem__Form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.AddItem__Form label,
.AddItem__Form input {
  font-size: 1.8rem;
}

.AddItem__Form label {
  text-align: left;
}

.AddItem__Form input {
  margin-bottom: 2rem;
  border: 1px solid #eeeeee;
  padding: 1rem;
  margin-top: .5rem;
  margin-bottom: 2rem;
}