.AddItem {
  padding-bottom: 20px;
}

.AddItem__Form {
  display: flex;
  flex-direction: column;
  width: 80vw;
  margin: 0 auto;
}

.AddItem__Form label {
  text-align: left;
}

.AddItem__Form input {
  margin-bottom: 10px;
}
